body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/3d_cubes-HD.jpg");
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: rgba(226, 226, 23, 0.883);
    font-family: 'Roboto', sans-serif;
}

#question{
    padding:20px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

#correct-answer{
    padding:10px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

#correct-answer .list-group-item{
    color:blue;
}

#btn-start{
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}
#answers{
    margin:20px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

p{
    margin:20px;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    color: blue;
}

.list-group-item:hover {
    /* color: rgba(226, 226, 23, 0.424); */
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    color: blue;
}
#count-down-timer{
    margin:2px;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    color: blue;
}

@media screen and (max-width: 325px) {
    
    #question{
        padding:2px;
        font-size: 20px;
    }
    
    #correct-answer{
        padding:2px;
        font-size: 15px;
    }
    
    #btn-start{
        margin-bottom: 20px;
        font-family: 'Roboto', sans-serif;
    }
    #answers{
        margin:10px;
        font-size: 10px;
    }
    img{
        width:200px;
        height:150px;
    }

}